<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/users.js"></script>
</head>
<body>
    <main class="main_container">
        <!-- Header -->
        <header>
            <div class="main-header-container">
                <div class="main_title"> 
                    <h1> <a href="../index.html">MindSet</a></h1>
                    <h3>ADMINISTRATION</h3>
                </div>
            </div>
        </header>
        <div class="main-display-container">
            <section class="left-scrollview" id="users-display">
                <header class="left-scrollview-header">
                    <h3>Active Users</h3>
                </header>
            </section>
            <section class="right-display-form" id="user-profile-display">

            </section>
        </div>
    </main>  
</body>
</html>